POSTGRES_PASSWORD=<postgre-password>

JWT_KEY=<super-long-random-jwt-secret-at-least-32-chars>
JWT_ISSUER=<issuer>
JWT_AUDIENCE=<audience>

CLOUDFLARE_TUNNEL_TOKEN=<your_cloudflare_tunnel_token>

GROQ__APIKEY=<your-api-key>
GROQ__MODEL=<your-model>