@import "tailwindcss";

:root {
    --yellow: #D79922;
    --paleYellow: #EFE2BA;
    --red: #F13C20;
    --blue: #4056A1;
    --lightBlue: #C5CBE3;
    --paleWhite: #f1f0eb;
}

.bg-yellow {
    background-color: var(--yellow);
}

.color-yellow {
    color: var(--yellow);
}

.bg-paleYellow {
    background-color: var(--paleYellow);
}

.color-paleYellow {
    color: var(--paleYellow);
}

.color-red {
    color: var(--red);
}

.bg-red {
    background-color: var(--red);
}

.color-blue {
    color: var(--blue);
}

.bg-blue {
    background-color: var(--blue);
}

.color-lightBlue {
    color: var(--lightBlue);
}

.bg-lightBlue {
    background-color: var(--lightBlue);
}

.color-paleWhite {
    color: var(--paleWhite);
}

.bg-paleWhite {
    background-color: var(--paleWhite);
}

.bg-opacity-custom {
    background-color: rgba(0, 0, 0, 0.5);
}

body {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: xxx-large;
    font-weight: 700;
}

h2 {
    font-size: xx-large;
    font-weight: 600;
}

h3 {
    font-size: x-large;
    font-weight: 500;
}

p {
    font-size: large;
    font-weight: 400;
}
