@import "tailwindcss";

@theme {
    --color-dino-dark: #181818;
    --color-dino-card: rgba(255, 255, 255, 0.05);
    --color-dino-border: rgba(255, 255, 255, 0.1);
    --color-dino-text: #E0E0E0;
}
